#icoc-ph-logo-sample{
    margin-top: -9px;
}

.navigation-hub{
    margin: 8px 20px;
    margin-left: 14.5%;
    margin-top: 75px;
    font-size: 13px;
}

#nav-hub-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: fit-content;
    max-height: fit-content;
    color: grey;
    gap: 10px
}

.navigation-hub a{
    text-decoration: none;
    color: rgb(8, 129, 170);
}

.contents-container{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
}

.contents-image-container{
    background-color: rgba(150, 150, 150, 0.318);
}

.contents-container h1{
    color: #555555;
    font-size: 41px;
    font-weight: 1000;
    margin-bottom: 0;
}

.contents-date-published{
    color: #555555 !important;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contents-container p{
    color: rgb(77, 77, 77);
}

.contents-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%;
}

@media(max-width: 850px){
    .contents-container{
        margin-left: 12.5%;
        margin-right: 12.5%;
    }

    .contents-container h1{
        font-size: 32px;
    }

    .contents-date-published{
        font-size: 12px !important;
    }

    .contents-container p{
        font-size: 16px;
    }
}

@media(max-width: 650px){
    .contents-container h1{
        font-size: 26px;
    }

    .contents-date-published{
        font-size: 10px !important;
    }

    .contents-container p{
        font-size: 14px;
    }
}

@media(max-width: 450px){
    .contents-container h1{
        font-size: 20px;
    }

    .contents-date-published{
        font-size: 8px !important;
    }

    .contents-container p{
        font-size: 12px;
    }

}